@font-face {
    font-family: TeXGyreAdventor;
    src: url(Font/texgyreadventor-bold.otf);
}
*{
    font-family:TeXGyreAdventor ;

}
.carddis{

    width: 607px;
    height: 740px;
}
.card{
z-index: inherit;
}

.all{
    margin-top: px;
    margin-left: 0;
}
.buun{
    margin-left: 0px;


}
.b{
    margin-left: 20px;

}


                                                       /* CSS */
                                                   .button-92 {
                                                       --c: #fff;
                                                       /* text color */
                                                       background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
                                                       #000000;
                                                       /* background color */
                                                       color: #0000;
                                                       border: none;
                                                       transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
                                                       text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
                                                       calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
                                                       outline-offset: .1em;
                                                       transition: 0.3s;
                                                   }

.button-92:hover,
.button-92:focus-visible {
    --_p: 0%;
    --_i: 1;
}

.button-92:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q rgba(21, 21, 21, 0.33);
    transition: 0s;
}

.button-92 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: .1em .3em;
}
body {
    background-image: url("https://i.pinimg.com/originals/49/c9/b5/49c9b557693afc9db172dc4118463b9e.gif");

}
/* CSS to center elements */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carddis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buun {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

