body {
    margin: auto;
    /*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
    overflow: auto;
    background: linear-gradient(315deg, rgb(241, 217, 217) 3%, rgb(223, 237, 201) 38%, rgb(205, 197, 227) 68%, rgb(169, 208, 246) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(2px);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(2px);
    }
}


.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
}



@font-face {
    font-family: TeXGyreAdventor;
    src: url(Font/texgyreadventor-bold.otf);
}
*{
    font-family:TeXGyreAdventor ;

}
body{
    display: grid;
    max-width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
.cart{
    display: flex;
    max-width: 100%;
    gap: 1.5rem;
}
.coupon-order-pay{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.shopping{
    border-radius: 10px;
    width: 1000px;
    background-color: #fff;
    padding: 20px;
}
.title-shop, .title-coupon, .title-order, .title-shipping{
    line-height: 10px;
    border-bottom: 2px solid #ededed;
}
.coupon, .order, .checkout{
    padding: 20px;
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
}
.input-code input[type = "text"]{
    font-size: 15px;
    width: 270px;
    margin: 15px 0;
    outline-color: #000000;
    border-radius: 5px;
    border: none;
    padding: 15px;
    background-color: #f2f2f2;
}
.btn-apply-coupon{
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #fff;
    color: #000000;
    padding: 15px;
    transition: 0.5s;
}
.btn-apply-coupon:hover{
    background-color: #ededed;
}
.summary{
    margin-top: 5px;
    line-height: 1px;
}
.discount,.delivery, .free, .subtotal{
    display: flex;
    justify-content: space-between;
    color: #7a7a7a;
}
.price{
    color: #000;
    font-weight: 600;
}
.subtotal-price{
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}
.btn-check{
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}
.btn-check:hover{
    opacity: 0.8;
}
.product_added{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    max-height: 520px;
    gap: 1rem;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
}
.product_added::-webkit-scrollbar{
    width: 0;
}
.pro-quan-price{
    display: flex;
    justify-content: space-between;
}
.product-{
    position: relative;
    left: 25px;
}
.quantity-{
    position: relative;
    left: 100px;
}
.price-{
    position: relative;
    right: 160px;
}
.cart_product{
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_{
    display: flex;
    gap: 0.8rem;
}
.product-img{
    border-radius: 5px;
    padding: 5px;
    background-color: #ededed;
}
.product-name{
    height: 100px;
    width: 300px;
    position: relative;
}
.product-name p{
    position: relative;
    bottom: 20px;
    color: #7a7a7a;
}
.color_{
    color: #000;
    font-weight: 600;
}
.product-name h3{
    position: relative;
    bottom: 20px;
}
.quantity{
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
}
.quantity input{
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 50px;
    border: none;
    background-color: #ededed;
}
.quantity button{
    font-size: 15px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.quantity button:hover{
    opacity: 0.5;
}
.btn-update-quantitty i{
    padding-left: 10px;
    border-left: 1px solid #949494;
}
.price_ p{
    position: relative;
    left: 20px;
    font-size: 25px;
    font-weight: 600;
}
.btn-delete a{
    color: #000;
    font-size: 20px;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.btn-delete:hover a:hover{
    opacity: 0.8;
    color: #fe2423;
}
.btn-back-cancel{
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 20px;
}
.btn_back {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}
.btn_back a{
    padding: 15px 25px;
    text-decoration: none;
    color: #ffffff;
}
.btn_back:hover{
    border: 1px solid #000;
    opacity: 0.8;
}
.btn_cancel{
    border: none;
    background-color: #fe2423;
    padding: 15px 25px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.btn_cancel:hover{
    opacity: 0.8;
}
.total_price{
    line-height: 12px;
    border-top: 2px solid #000000;
    color: #7a7a7a;
    display: flex;
    justify-content: space-between;
}
.checkout{
    line-height: 1px;
}
.check_{
    margin: 10px 0;
}