/* body{
    display: grid;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
body {
    margin: auto;
    /*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
    overflow: auto;
    background: linear-gradient(315deg, rgb(255, 0, 0) 3%, rgb(155, 255, 0) 38%, rgb(64, 0, 244) 68%, rgb(255, 222, 0) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(2px);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(2px);
    }
}


.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
}

@font-face {
    font-family: TeXGyreAdventor;
    src: url(Font/texgyreadventor-bold.otf);
}
*{
    font-family:TeXGyreAdventor ;

}

.container{
    background-color: #ededed;
    padding: 40px;
    border-radius: 20px;
}
.checkout{
    border-radius: 25px;
    display: flex;
    gap: 2rem;
}
.order{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.title{
    border-bottom: 3px solid #000000;
    color: #000000;
    padding-bottom: 5px;
}
.billing_details{
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #cfcfcf;
}
label{
    color: #5f5f5f;
}
.form-input{
    height: 50px;
    border: 2px solid #000;
    width: 100%;
    padding: 0 10px;
    background-color: #fff;
}
.form-input:focus{
    outline-width: 5px;
    border-radius: 10px;
    outline-color: rgb(155, 157, 157);
    transition: 0.3s;
}
.required{
    color: red;
    font-size: 20px;
    position: relative;
    top: 3px;
    right: 2px;
}
.your_order, .place_order{
    background-color: #fff;
    padding: 30px 30px 20px 30px;
    border-radius: 15px;
    width: 600px;
    border: 2px solid #cfcfcf;
}
/* .your_order{
    position: sticky;
    top: 10px;
} */
.product-subtotal, .subtotal, .total_price{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
}
.total_price{
    align-items: center;
    line-height: 10px;
}
.title_order, .title_billing, .title_qr{
    border-bottom: 2px solid #5f5f5f;
}
.product-subtotal-result, .subtotal{
    border-bottom: 2px solid #000000;
}
.mr{
    position: relative;
    right: 30px;
}
.mr_num{
    position: relative;
    right: 40px;
}
.icon{
    font-size: 10px;
    position: relative;
    bottom: 2.5px;
}
.result_order{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    line-height: 1px;
}

.free{
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-between;
}
.riel{
    position: relative;
    top: 5px;
    font-size: 25px;
}
.price{
    position: relative;
    right: 40px;
    color: #000000;
    text-align: right;
}
.QR{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.QR img{
    border: 2px solid #5f5f5f;
}
.btn-order{
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    background-color: #000000;
    color: #fff;
    transition: 0.5s;
}
.btn-order:hover{
    opacity: 0.8;
}
.btn-orderz{
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    background-color: #fd0000;
    color: #fff;
    transition: 0.5s;
}
.btn-orderz:hover{
    opacity: 0.8;
}
h4{
    color: #000000;
}


.order-message-container{
    position: fixed;
    top:0; left: 0; right: 0;
    display: grid;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    justify-content: center;
    z-index: 1100;
    max-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);;
 }
 .order-message-container::-webkit-scrollbar{
    width: 0;
 }

 
 .order-message-container .message-container{
    background-color: #fff;
    border-radius: .5rem;
    padding: 20px;
 }
 
 .order-message-container .message-container h3{
    font-size: 20px;
    text-align: center;
    color: #000000;
 }
 
 .order-message-container .message-container .order-detail{
    background-color: #ededed;
    border-radius: .5rem;
    padding:15px;
    margin:10px 0;
    text-align: center;
 }
 
 .order-message-container .message-container .order-detail span{
    background-color: #fff;
    border-radius: .5rem;
    color: #000;
    font-size: 20px;
    display: inline-block;
    padding:15px;
    margin:10px;
 }
 
 .order-message-container .message-container .order-detail span.total{
    display: block;
    background: #000000;
    color: #fff;
    text-align: center;
 }
 
 .order-message-container .message-container .customer-details{
    padding: 20px;
    line-height: 15px;
    background-color: #ededed;
    border-radius: .5rem;
 }
 
 .order-message-container .message-container .customer-details p{
    font-size: 18px;
    color: #000;
 }
 
 .order-message-container .message-container .customer-details p span{
    color: #000000;
    text-transform: none;
 }
