@font-face {
    font-family: TeXGyreAdventor-r;
    src: url(../Font/texgyreadventor-bold.otf);
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: TeXGyreAdventor-r;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 250px 1fr;
}
.logo{
    height: 80px;
    padding-top: 40px;
}
.logo img{
    height: 20px;
    left: 0;

}

.sidebar{
    position: sticky;
    /* top:0; */
    left: 0;
    /* bottom: 0; */
    width: 100%;
    /* height: 100vh; */
    padding: 0 1.7rem;
    /* overflow: hidden; */
    transition: all 0.3s linear;
    background-color: #000;
    color: #fff;
}
/* .sidebar:hover{
    width: 250px;
    transition: 0.3s;
} */

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;

}
.menu li{
    padding: 1rem;
    margin: 10px 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.menu li:hover,.active{
    background-color: rgb(168, 169, 172);
}
.menu a{
    font-size: 14pt;
    color: #fff;
    text-decoration: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.menu a span{
    overflow: hidden;
    margin-left: 10px;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.menu_bar{
    width: 100%;
    height: 100px;
    background-color: red;
}

/* main-content */
.main{
    /* position: relative; */
    padding: 1rem;
    background-color: #ffffff;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.header-wraper{
    justify-content: space-between;
    display: flex;
    /* border: 1px solid; */
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.search_box{
    background-color: rgb(218, 215, 215);
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 7px;
    border-radius: 15px;

}
.search_box input{
    padding: 10px;
    background-color: transparent;

}x
.search_box i{
    font-size: 14pt;
    cursor: pointer;
}
.search_box i:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding-right: 10px;
}
.profile img{
    height: 40px;
    cursor: pointer;
}
.profile img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
.name{
    font-size: 14pt;
}
.profile span:hover{
    transform: scale(1.3);
    transition: 0.5s;
}
.info{
    background-color: rgb(136, 140, 143);
    height: 100vh;
    width: 100%;
}

/* body info */

.stastic-data{
    height: 100vh;
    /* border: 1px solid red; */
    padding: 10px;
}
.amount-data{
    height: 100vh;
    /* border: 1px solid; */
    padding: 10px;
}
.balance_1{
    height: 100px;
    width: 48%;
    background-color: rgb(69, 100, 255);
    padding: 10px;
    margin: 0px;
    border-radius: 20px;
}
.balance_2{
    height: 100px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
    /* width: 48%; */
    width: 50px;
    border-radius: 20px;
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 20px 0;
    margin-left: 40px;
    position: relative;
}
.icon i{
    font-size: 14pt;
}
.text_balacne{
    color: #fff;
    margin: 10px 0;
}
.percent{
    background-color: #00be75;
    font-size: 10pt;
    width: 50px;
    /* position: absolute; */
    display: flex;
    margin: -35px 0;
    margin-left: 150px;
    border-radius: 10px;
    justify-content: center;
}
/* statBOX */
.statistic{
    margin-top: 10px;
    height: 400px;
    border: 1px solid;
    border-radius: 20px;
    width: 97%;
    margin-left: 5px;
}

/* table product */
.table_product{
    margin-top: 10px;
    height: 310px;
    /* border: 1px solid; */
    border-radius: 20px;
    width: 97%;
    margin-left: 5px;
    /* background-color: #378989; */
    background-color: #000;
}


#table-dashboard-sec h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:200px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* right side */
.sub_div_1{
    width: 100%;
    height: 300px;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 20px;
    /* background-color: #ffffff; */
}
.sub_div_2{
    width: 100%;
    height: 150px;
    /* border: 1px solid; */
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #00be75;
}

.sub_div_3{
    width: 100%;
    height: 370px;
    /* border: 1px solid;   */
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #8b40ee;
}

/* crud */
.table_product_crud{
    margin-top: 10px;
    height: 100vh;
    /* border: 1px solid; */
    border-radius: 20px;
    width: 99%;
    margin-left: 5px;
    background-color: #000000;
}

.tbl-content_crud{
    height:700px;
    overflow-x:auto;
    margin-top: 0px;
}

/* count_user */
.icon_user{
    /* border: 1px solid; */
    height: 150px;

}
.user_count{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    margin: 40px 0;
    margin-left: 60px;
    border-radius: 50%;
}
.user_count i{
    font-size: 30pt;
    margin: 10px 0;
    margin-left: 10px;
    color: #00be75 ;
}
.number_user{
    /* border: 1px solid red; */
    height: 150px;
    text-align: center;
    margin-right: 20px;
    padding: 10px 0;
    position: relative;
}
.tbl-content_user{
    height:250px;
    overflow-x:auto;
    margin-top: 0px;
}
